input.ng-invalid.ng-touched , input.ng-invalid.ng-dirty, 
textarea.ng-invalid.ng-touched , textarea.ng-invalid.ng-dirty,
select.ng-invalid.ng-touched , select.ng-invalid.ng-dirty {
    border: 1px solid rgb(201, 3, 3);
}

input.ng-valid.ng-touched , input.ng-valid.ng-dirty,
textarea.ng-valid.ng-touched , textarea.ng-valid.ng-dirty,
select.ng-valid.ng-touched , select.ng-valid.ng-dirty {
    border: 1px solid green;
}

.invalid-help-text {
    color: rgb(201, 3, 3);
}

.form-group {
    padding-top: 10px;
    padding-bottom: 10px;
}

