<div *ngIf="bug && developers">
    <h1>{{ bug.title }}</h1>
    <hr>
    <table class="table table-borderless">
  <tbody>
    <tr>
      <th scope="row">Description</th>
      <td>{{bug.description}}</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      
      <td>
        <div class="btn-group">
        <button class="btn btn-secondary btn-sm" [disabled]="!statusChanged" type="button">
          {{status[bug.status]}}
        </button>
        <button title="Change Status" type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <div *ngFor="let stat of cntStatus">
          <div *ngIf="stat != bug.status" class="dropdown-item" (click)="onChangeStatus(stat)" style="cursor: pointer;">{{status[stat]}}</div>
        </div>
        </div>
      </div>
      </td>
      
    </tr>
    <tr>
      <th scope="row">Priority</th>
      <td>{{priority[bug.priority]}}</td>
    </tr>
    <tr>
      <th scope="row">Developer</th>
      <td *ngIf="bug.developerID; else notAssignedBlock">{{bug.developerName}}</td>
    <ng-template #notAssignedBlock> 
      <td> 
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm" [disabled]="!newDevAssigned" type="button">
            {{ newDevName }}
          </button>
          <button title="Change Status" type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <div *ngFor="let dev of developers" class="dropdown-item" (click)="onNewDevAssigned(dev)" style="cursor: pointer;"> {{ dev.firstName + " " + dev.lastName }} </div>
          </div>
        </div> 
      </td>
    </ng-template>
    </tr>
    <tr *ngIf="bug.screenshot">
      <th scope="row">Screenshot</th>
      <td> 
        <a [href]="screenshotUrl | async" target="_blank"> <img [src]="screenshotUrl | async" class="screenshot-img"> </a>
      </td>
    </tr>
  </tbody>
</table>
<button *ngIf="newDevAssigned || statusChanged" class="btn btn-primary"  (click)="onSaveClick()" style="margin-left: 13px;" > Save </button>
</div> 

