<form (ngSubmit)="onSubmit(f, $event)" #f="ngForm">
  <div class="form-group row">
    <label for="bugTitle" class="col-sm-2 col-form-label">Bug Title</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="bugTitle" ngModel name="title" required #bugTitle="ngModel" >
        <small id="bugTitleHelp" class="form-text invalid-help-text" *ngIf="bugTitle.invalid && (bugTitle.touched || bugTitle.dirty)">This field cannot be left empty</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Bug Description</label>
    <div class="col-sm-10">
    <textarea type="text" rows="5" class="form-control" id="description" ngModel name="description" required #description="ngModel" ></textarea>
    <small id="descriptionHelp" class="form-text invalid-help-text" *ngIf="description.invalid && (description.touched || description.dirty)">This field cannot be left empty</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="status" class="col-sm-2 col-form-label">Status</label>
    <div class="col-sm-10">
    <select class="form-control" id="status" ngModel name="status" required status #status="ngModel">
        <option *ngFor="let stat of cntStatus" value="{{stat}}">{{status_[stat]}}</option>
    </select>
    <small id="statusHelp" class="form-text invalid-help-text" *ngIf="status.invalid && (status.touched || status.dirty)">Select a status</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="priority" class="col-sm-2 col-form-label">Priority</label>
    <div class="col-sm-10">
    <select class="form-control" id="priority" ngModel name="priority" required priority #priority="ngModel">
        <option *ngFor="let stat of cntPriority" value="{{stat}}">{{priority_[stat]}}</option>
    </select>
    <small id="priorityHelp" class="form-text invalid-help-text" *ngIf="priority.invalid && (priority.touched || priority.dirty)">Select a priority</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="screenshot" class="col-sm-2 col-form-label">Bug Title</label>
    <div class="col-sm-10">
        <input type="file" class="form-control" id="screenshot" ngModel name="screenshot" #screenshot="ngModel" >
        <!-- <small id="screenshotHelp" class="form-text invalid-help-text" *ngIf="screenshot.invalid && (screenshot.touched || screenshot.dirty)">This field cannot be left empty</small> -->
      <progress max="100" [value]="(uploadPercent | async)"  style="width: 100%"></progress>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="f.invalid" >Submit</button>
</form>