<div class="dcontainer" style="display: flex; align-items: stretch;">
<nav id="sidebar" class="sidebar-wrapper" style="width: 260px;">
  <div class="sidebar-content">
    <div class="sidebar-header">
      <div class="user-info" style="text-align: center;">

        <span class="user-name">John
          <strong>Smith</strong>
          <br>
        </span>
        <span class="user-role">Administrator</span>
      </div>
    </div>
    <!-- sidebar-header  -->
    <div class="sidebar-menu">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Home
        </a>
        <a href="#" class="list-group-item list-group-item-action">Bugs</a>
        <a href="#" class="list-group-item list-group-item-action">Developers</a>
        <a href="#" class="list-group-item list-group-item-action">Assign Developer</a>
        <a href="#" class="list-group-item list-group-item-action">Change status</a>
      </div>
    </div>
  </div>
</nav>
<div class="main-content"> <app-developers></app-developers> </div>
</div>